<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Users:</h1>
    <th:block th:each="user : ${users}">
        <p th:text="${user}"></p>
        <br>
        <a th:href="@{/edit_{id}(id=${user.getId()})}">Edit</a>
        <form th:method="DELETE" th:action="@{/delete_{id}(id=${user.getId()})}">
            <input type="submit" value="Delete">
        </form>
        <br>
    </th:block>
    <br/>
    <hr/>
    <a href="/new">Create user</a>
    <br>
    <a href="/logout">Logout</a>
</div>
</body>
</html>